## Historical Data Parameters

1) Open Time
2) Open
3) High
4) Low
5) Close
6) Volume
7) Close Time
8) Quote Asset Volume
9) Number of Trades
10) Taker buy base Asset Volume
11) Taker buy quote Asset Volume
12) Ignore

In [10]:
from binance.client import Client
import pandas as pd

client = Client()

#Set ticker_symbol to coin of choice
ticker_symbol = 'ETHBTC' 

#Set interval
interval = Client.KLINE_INTERVAL_1DAY

#Set Starting Date for Historical Data
start_date = '1 Jan 2011'

historical = client.get_historical_klines(ticker_symbol, interval, start_date)
hist_df = pd.DataFrame(historical)
hist_df.columns = [
        'Open Time',
        'Open',
        'High',
        'Low',
        'Close',
        'Volume',
        'Close Time',
        'Quote Asset Volume',
        'Number of Trades',
        'Taker buy base Asset Volume',
        'Taker buy quote Asset Volume',
        'Ignore'
    ]

hist_df = hist_df.drop(columns=['Ignore'])


hist_df.head()
# hist_df.tail()

,Open Time,Open,High,Low,Close,Volume,Close Time,Quote Asset Volume,Number of Trades,Taker buy base Asset Volume,Taker buy quote Asset Volume
0,1499990400000,0.08000000,0.09103300,0.08000000,0.09099300,1942.05700000,1500076799999,170.23852396,1994,1076.40500000,94.82527222
1,1500076800000,0.09099300,0.09369900,0.08712700,0.08763500,4013.06600000,1500163199999,363.03178785,4623,2250.31800000,203.54149755
2,1500163200000,0.08750800,0.08763500,0.07559100,0.08224100,8904.15800000,1500249599999,722.21248196,8137,5557.57500000,450.34388688
3,1500249600000,0.08236800,0.08839400,0.08169900,0.08753700,6650.93300000,1500335999999,568.24653804,7639,3859.48500000,329.66875309
4,1500336000000,0.08783100,0.10906800,0.08477700,0.10773200,7245.74100000,1500422399999,674.49785037,8121,4202.05500000,393.11140275

In [11]:
hist_df.dtypes

Open Time                        int64
Open                            object
High                            object
Low                             object
Close                           object
Volume                          object
Close Time                       int64
Quote Asset Volume              object
Number of Trades                 int64
Taker buy base Asset Volume     object
Taker buy quote Asset Volume    object
dtype: object

In [9]:
# Data Conversion Module
hist_df['Open Time'] = pd.to_datetime(hist_df['Open Time'], unit='ms')
hist_df['Close Time'] = pd.to_datetime(hist_df['Close Time'], unit='ms')

numerics = [
        'Open',
        'High',
        'Low',
        'Close',
        'Volume',
        'Quote Asset Volume',
        'Number of Trades',
        'Taker buy base Asset Volume',
        'Taker buy quote Asset Volume',
    ]

hist_df[numerics] = hist_df[numerics].apply(pd.to_numeric)


hist_df.head()
# hist_df.tail()

,Open Time,Open,High,Low,Close,Volume,Close Time,Quote Asset Volume,Number of Trades,Taker buy base Asset Volume,Taker buy quote Asset Volume
0,2017-07-14,0.080000,0.091033,0.080000,0.090993,1942.057,2017-07-14 23:59:59.999,170.238524,1994,1076.405,94.825272
1,2017-07-15,0.090993,0.093699,0.087127,0.087635,4013.066,2017-07-15 23:59:59.999,363.031788,4623,2250.318,203.541498
2,2017-07-16,0.087508,0.087635,0.075591,0.082241,8904.158,2017-07-16 23:59:59.999,722.212482,8137,5557.575,450.343887
3,2017-07-17,0.082368,0.088394,0.081699,0.087537,6650.933,2017-07-17 23:59:59.999,568.246538,7639,3859.485,329.668753
4,2017-07-18,0.087831,0.109068,0.084777,0.107732,7245.741,2017-07-18 23:59:59.999,674.497850,8121,4202.055,393.111403

In [12]:
hist_df.dtypes

Open Time                        int64
Open                            object
High                            object
Low                             object
Close                           object
Volume                          object
Close Time                       int64
Quote Asset Volume              object
Number of Trades                 int64
Taker buy base Asset Volume     object
Taker buy quote Asset Volume    object
dtype: object