## Historical Data Parameters

1) Open Time
2) Open
3) High
4) Low
5) Close
6) Volume
7) Close Time
8) Quote Asset Volume
9) Number of Trades
10) Taker buy base Asset Volume
11) Taker buy quote Asset Volume
12) Ignore

In [3]:
from binance.client import Client
import pandas as pd

client = Client()

#Set ticker_symbol to coin of choice
ticker_symbol = 'ETHBTC' 

#Set interval
interval = Client.KLINE_INTERVAL_1DAY

#Set Starting Date for Historical Data
start_date = '1 Jan 2011'

historical = client.get_historical_klines(ticker_symbol, interval, start_date)
hist_df = pd.DataFrame(historical)
hist_df.columns = [
        'Open Time',
        'Open',
        'High',
        'Low',
        'Close',
        'Volume',
        'Close Time',
        'Quote Asset Volume',
        'Number of Trades',
        'Taker buy base Asset Volume',
        'Taker buy quote Asset Volume',
        'Ignore'
    ]


hist_df.head()
# hist_df.tail()
# hist_df.dtypes

,Open Time,Open,High,Low,Close,Volume,Close Time,Quote Asset Volume,Number of Trades,Taker buy base Asset Volume,Taker buy quote Asset Volume,Ignore
0,1499990400000,0.08000000,0.09103300,0.08000000,0.09099300,1942.05700000,1500076799999,170.23852396,1994,1076.40500000,94.82527222,0
1,1500076800000,0.09099300,0.09369900,0.08712700,0.08763500,4013.06600000,1500163199999,363.03178785,4623,2250.31800000,203.54149755,0
2,1500163200000,0.08750800,0.08763500,0.07559100,0.08224100,8904.15800000,1500249599999,722.21248196,8137,5557.57500000,450.34388688,0
3,1500249600000,0.08236800,0.08839400,0.08169900,0.08753700,6650.93300000,1500335999999,568.24653804,7639,3859.48500000,329.66875309,0
4,1500336000000,0.08783100,0.10906800,0.08477700,0.10773200,7245.74100000,1500422399999,674.49785037,8121,4202.05500000,393.11140275,0

In [2]:
hist_df['Open Time'] = pd.to_datetime(hist_df['Open Time'], unit='ms')
hist_df['Close Time'] = pd.to_datetime(hist_df['Close Time'], unit='ms')

numerics = [
        'Open',
        'High',
        'Low',
        'Close',
        'Volume',
        'Quote Asset Volume',
        'Number of Trades',
        'Taker buy base Asset Volume',
        'Taker buy quote Asset Volume',
    ]

hist_df[numerics] = hist_df[numerics].apply(pd.to_numeric)

hist_df.head()

,Open Time,Open,High,Low,Close,Volume,Close Time,Quote Asset Volume,Number of Trades,Taker buy base Asset Volume,Taker buy quote Asset Volume,Ignore
0,1970-01-01 00:24:59.990400,0.080000,0.091033,0.080000,0.090993,1942.057,1970-01-01 00:25:00.076799999,170.238524,1994,1076.405,94.825272,0
1,1970-01-01 00:25:00.076800,0.090993,0.093699,0.087127,0.087635,4013.066,1970-01-01 00:25:00.163199999,363.031788,4623,2250.318,203.541498,0
2,1970-01-01 00:25:00.163200,0.087508,0.087635,0.075591,0.082241,8904.158,1970-01-01 00:25:00.249599999,722.212482,8137,5557.575,450.343887,0
3,1970-01-01 00:25:00.249600,0.082368,0.088394,0.081699,0.087537,6650.933,1970-01-01 00:25:00.335999999,568.246538,7639,3859.485,329.668753,0
4,1970-01-01 00:25:00.336000,0.087831,0.109068,0.084777,0.107732,7245.741,1970-01-01 00:25:00.422399999,674.497850,8121,4202.055,393.111403,0