This module retrives all the coins (symbol data) that are listed on binance between dates <> and stores the value in a dataframe

In [1]:
from binance.client import Client
import pandas as pd

client = Client()
all_data = client.get_all_tickers()
ticker_list = []

for coin in all_data:
    ticker_list.append(coin["symbol"])

ticker_df = pd.DataFrame(ticker_list, columns=["Ticker"])

print(ticker_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2438 entries, 0 to 2437
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Ticker  2438 non-null   object
dtypes: object(1)
memory usage: 19.2+ KB
None

In [2]:
ticker_df.head()

    Ticker
0   ETHBTC
1   LTCBTC
2   BNBBTC
3   NEOBTC
4  QTUMETH